

.container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: left;
	background-image: url('https://imgur.com/I3D8GKn.jpg'); 	
}



.Schlitterbahn {
	height: 550px;
	width: 1200px;
	postition: relative;
	
}


.Schlitterbahn img {
	float: right;
	width: 100%;
	height: 100%;
	border-radius: 7px;
	margin-right: 80px;
}




.arrow{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	
}

.arrow button {
	background: lightcyan;
	outline: none;
	border: none;
	color: white;
	

}



.content h1 {
	float: left;
	font-size: 25px;
	font-weight: 100;
	margin-left: 100px;
	
	margin-bottom: 200px;
	color: lightcyan;
	font-style: bold;
	line-height: 1.5;
}

.content h2 {
		
	float: left;
	margin-left: 100px;
	margin-top: -100px;
	color: yellow;
	border-style: dotted solid double dashed;
	line-height: 1.5;
}

.tickets {
	background-color: lightcyan;
	
}

#d01 {
	float: right;
	margin-right: 400px;
}



#d02 {
	margin-left: 200px;
	padding: 20px;
}

#d02 img {
	border-radius: 7px;
}

.tickets h3 {
	color: tomato;
}

.attractions {
	background-color: mistyrose;
	overflow:auto;
}


#d03 {
	float: left;
	margin-right: -70px;
	margin-left: 100px;
	color: hotpink;
	line-height: 1.5;
	
}




#d04 {
	float: left;
	margin-right: 100px;
	margin-top: 40px;
	color: hotpink;
	line-height: 1.5;
}


#d05 {
	float: left;
	margin-right: -300px;
	margin-top: 40px;
	color: hotpink;
	line-height: 1.5;
}

#d06 {
	float: right;
	margin-right: 100px;
	border-radius: 7px;
	margin-top: 20px;
}

#d06 img {
	border-radius: 7px;
}

.attractions h3 {
	color: tomato;
	margin-left: 200px
	
}


.dinning {
	background-color: lightcyan ;
	overflow:auto;
	
}

.dinning h3 {
	color: tomato;
	text-align: left;
}

#d07 {
	float: right;
	margin-top: 20px;
	margin-right: 160px;
	color: royalblue;
	line-height: 1.5;
}

#d08 {
	float: right;
	margin-top: 80px;
	margin-right: 80px;
	color: royalblue;
	line-height: 1.5;
}

#d09 {
	float: left;
	margin-left: 200px;
	margin-top: 10px;
}

#d09 img {
	border-radius: 7px;
}

.cabana {
	background-color: mistyrose;
	overflow: auto;
}

.cabana #dc {
	float: left;
	margin-left: 100px;
	color: navy;
	line-height: 1.5;
	
}

.cabana h3 {
	color: red;
}

.cabana #dc1 {
	float: right;
	margin-right: 300px;
	border-radius: 7px;
}

#dc1 img {
	border-radius: 7px;
}
#c01 {
	text-align: center;
	background-color: mistyrose;
	overflow: auto;
	color: red;
}

#reserve {
	background-color: lightblue;
	width: 150px;
	padding: 20px;
	text-align: center;
	color: hotpink;
	border-radius: 5px;
	transition-duration: 0.5s;
	border: 1px solid white;
	float: right;
	margin-right: 100px;
	margin-top: -100px;
}
#reserve:hover {
	color: white;
}

#copyright {
	text-align: center;
	font-size: 20px;
	background-color: lightcyan;
	color: hotpink;
	font-weight: bold;
	padding: 10px;
}