/* CSS File for Aesthetics */

/* First up a general body color scheme */
body{
	background: linear-gradient(black,DarkSlateGray,slateGray);
	color:azure;
	}


/*This one is for the main content page*/
#content {
	   background-image: url("https://images.rawpixel.com/image_600/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3BmLTQxLWx1a2VzdGFja3Bvb2xlLWdyZWVubGFuZC1jYWJpbi0wMWEuanBn.jpg");
	   background-repeat: no-repeat;
	   background-size:100%;
	   color:azure;
}


/* For the paragraphs */
p {
   text-align: center;
   color: white;
}


/* For the table */
table {
	margin-left:auto;
	text-align: center;
}



/* For the images */
img {
      width:45%;
      height:45%;
}



/*For the header */
#h1 {color: white;
     text-align:center;
}




/*Lastly, for the bottom part of the page */
#footer {
	
	font-size:20px;  
	color: LightSteelBlue;
	text-align: center;
}



/* Container needed to position the button. Adjust the width as needed */
.container {
	position: relative;
	width: 50%;
  }
  
  /* Make the image responsive */
  .container img {
	width: 100%;
	height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container.btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #555;
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
  }
  
  .container.btn:hover {
	background-color: black;
  }




