body 
{
	background-image:url("images/houston.jpg");
	background-size:cover;
	overflow:hidden;
}
h1
{
	color: white;
	text-decoration: underline;
}

ul 
{
  padding: 0;
  display:table;
  width:100%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  background-color: rgb(164, 114, 170);
}

li 
{
display:table-cell;
}

li a 
{
  display: block;
  color: white;
  border-color: black;
  border: solid 1px ;
  text-align: center;
  padding: 13px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover 
{
  background-color: #111111;
}

#v_info 
{
    overflow : hidden;
    position : fixed;
	width: 99%;
	height:87%;
}
