body {background-image:url("https://imgur.com/0fNdo9h.jpg");}
#k72 {float:right}
#m87 {float:right}
#bjd {float:right}
#maq {float:right}
#d67 {float:right}
#m06 {color:red;}
#k90{color:brown;}
#j32{color:maroon;}
#ff0{color:Blue;}
#lk3{color:orange;}
#mhr{color:purple;}
