#h01 {color:white; font-family:Courier New;}
#h02 {color:grey; font-family: Times New Roman;}
#h03 {color:red; font-family: Fantasy;}
#h04 {color:gold; font-family: Times New Roman; Font-size:20px; Text-decoration:underline; font-style: italic;}